[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:Amecara/css-exercises.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = https://github.com/Amecara/javascript-exercises
